<template>
  <div>
    <Header />
    <section
      v-if="book !== null"
      class="section"
    >
      <div class="container">
        <div class="columns is-mobile">
          <div class="column is-narrow">
            <b-icon
              icon="arrow-left"
              type="is-primary"
              class="btn"
              @click.native="cancel"
            />
          </div>
          <div class="column">
            <h5 class="title is-5">
              Book
            </h5>
          </div>
          <div class="column is-narrow">
            <b-button
              type="is-primary"
              class="is-pulled-right"
              :loading="loading"
              @click="save"
            >
              Save
            </b-button>
            <b-button
              type="is-danger"
              class="is-pulled-right cancel-btn"
              @click="deleteBook"
            >
              Delete
            </b-button>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-6-tablet">
            <BookForm v-model="book" />
          </div>
          <div class="column is-6-tablet is-3-desktop">
            <br>
            <BookEvents :book-id="book.id" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
  .cancel-btn {
    margin-right: 10px;
  }
</style>

<script>
import Header from '../components/Header.vue'
import BookForm from '../components/BookForm.vue'
import BookEvents from '../components/BookEvents.vue'

export default {
  name: 'Book',

  components: {
    Header,
    BookForm,
    BookEvents
  },

  data () {
    return {
      book: null,
      events: null
    }
  },

  computed: {
    loading () {
      return this.$store.getters['loading/requests'] > 0
    }
  },

  async created () {
    const bookId = this.$route.params.bookId
    this.book = await this.$store.dispatch('books/read', bookId)
  },

  methods: {
    async save () {
      const err = await this.$store.dispatch('books/update', this.book)

      if (err === null) {
        this.$router.push({ name: 'dashboard' })
      }
    },

    cancel () {
      this.$router.push({ name: 'dashboard' })
    },

    deleteBook () {
      this.$buefy.dialog.confirm({
        message: 'Are you sure you want to delete the book?',
        confirmText: 'Delete',
        type: 'is-danger',
        onConfirm: async () => {
          const err = await this.$store.dispatch('books/delete', this.book.id)

          if (err === null) {
            this.$router.push({ name: 'dashboard' })
          }
        }
      })
    }
  }
}
</script>
