<template>
  <div>
    <Header />
    <section class="section">
      <div class="container">
        <div class="columns is-mobile">
          <div class="column">
            <h5 class="title is-5">
              Create Book
            </h5>
          </div>
          <div class="column is-narrow">
            <b-button
              type="is-primary"
              class="is-pulled-right"
              :loading="loading"
              @click="save"
            >
              Save
            </b-button>
            <b-button
              type="is-danger"
              class="is-pulled-right cancel-btn"
              @click="cancel"
            >
              Cancel
            </b-button>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-6-tablet">
            <BookForm v-model="book" />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
  .cancel-btn {
    margin-right: 10px;
  }
</style>

<script>
import Header from '../components/Header.vue'
import BookForm from '../components/BookForm.vue'

export default {
  name: 'CreateBook',

  components: {
    Header,
    BookForm
  },

  data () {
    return {
      book: {
        title: '',
        author: '',
        isbn: '',
        description: ''
      }
    }
  },

  computed: {
    loading () {
      return this.$store.getters['loading/requests'] > 0
    }
  },

  methods: {
    async save () {
      const err = await this.$store.dispatch('books/create', this.book)

      if (err === null) {
        this.$router.push({ name: 'dashboard' })
      }
    },

    cancel () {
      this.$router.push({ name: 'dashboard' })
    }
  }
}
</script>
