<template>
  <div>
    <Header />
    <section class="section">
      <div class="container">
        <div class="columns is-mobile is-multiline">
          <div class="column is-12-mobile">
            <h5 class="title is-5">
              Books
            </h5>
          </div>
          <div class="column is-narrow">
            <b-input
              v-model="title"
              class="is-pulled-right"
              placeholder="Filter books by title"
              @input="updateTitle"
            />
          </div>
          <div class="column is-narrow">
            <div class="is-pulled-right">
              <b-button
                icon-right="chevron-left"
                class="pagination-btn"
                @click="prevPage"
              />
              <span class="page-number">{{ page }}</span>
              <b-button
                icon-right="chevron-right"
                class="pagination-btn"
                @click="nextPage"
              />
            </div>
          </div>
          <div class="column is-narrow">
            <b-button
              type="is-primary"
              class="is-pulled-right"
              @click="newBook"
            >
              New Book
            </b-button>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <b-table :data="books">
              <template slot-scope="props">
                <b-table-column
                  field="title"
                  label="Title"
                >
                  <span
                    class="btn book-btn"
                    @click="editBook(props.row.id)"
                  >
                    {{ props.row.title }}
                  </span>
                </b-table-column>
                <b-table-column
                  field="author"
                  label="Author"
                >
                  {{ props.row.author }}
                </b-table-column>
                <b-table-column
                  field="isbn"
                  label="ISBN"
                >
                  {{ props.row.isbn }}
                </b-table-column>
                <b-table-column
                  field="description"
                  label="Description"
                >
                  {{ props.row.description }}
                </b-table-column>
                <b-table-column
                  field="current_state"
                  label="State"
                >
                  <span
                    v-if="props.row.current_state === 0"
                    class="tag is-success btn"
                    @click="checkOutBook(props.row.id)"
                  >
                    Available
                  </span>
                  <span
                    v-if="props.row.current_state === 1"
                    class="tag is-danger btn"
                    @click="checkInBook(props.row.id)"
                  >
                    Taken
                  </span>
                </b-table-column>
              </template>
            </b-table>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style lang="scss" scoped>
  @import '../styles/colors';

  .book-btn:hover {
    text-decoration: underline;
    color: $violet;
  }

  .pagination-btn {
    margin-right: 10px;
  }

  .page-number {
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
</style>

<script>
import Header from '../components/Header.vue'

export default {
  name: 'Dashboard',

  components: {
    Header
  },

  data () {
    return {
      title: '',
      watchers: []
    }
  },

  computed: {
    books () {
      return this.$store.getters['books/data']
    },

    page () {
      return this.$store.getters['books/page']
    }
  },

  mounted () {
    this.watchers.push(
      this.$watch(() => {
        return this.$store.getters['books/page']
      }, () => {
        this.$store.dispatch('books/load')
      }, {
        immediate: true
      })
    )

    this.watchers.push(
      this.$watch(() => {
        return this.$store.getters['books/title']
      }, () => {
        this.$store.dispatch('books/load')
      }, {
        immediate: true
      })
    )
  },

  destroyed () {
    this.watchers.forEach((unwatch) => {
      unwatch()
    })
  },

  created () {
    this.title = this.$store.getters['books/title']
    this.$store.dispatch('books/load')
  },

  methods: {
    updateTitle () {
      this.$store.dispatch('books/updateTitle', this.title)
    },

    nextPage () {
      this.$store.dispatch('books/nextPage')
    },

    prevPage () {
      this.$store.dispatch('books/prevPage')
    },

    newBook () {
      this.$router.push({ name: 'create-book' })
    },

    editBook (bookId) {
      this.$router.push({ name: 'edit-book', params: { bookId } })
    },

    checkOutBook (bookId) {
      this.$buefy.dialog.prompt({
        message: 'Check out book',
        inputAttrs: {
          placeholder: 'Person'
        },
        onConfirm: async (value) => {
          const err = await this.$store.dispatch('books/checkOut', {
            id: bookId,
            person: value
          })

          if (err === null) {
            this.$store.dispatch('books/load')
          }
        }
      })
    },

    checkInBook (bookId) {
      this.$buefy.dialog.prompt({
        message: 'Check in book',
        inputAttrs: {
          placeholder: 'Person'
        },
        onConfirm: async (value) => {
          const err = await this.$store.dispatch('books/checkIn', {
            id: bookId,
            person: value
          })

          if (err === null) {
            this.$store.dispatch('books/load')
          }
        }
      })
    }
  }
}
</script>
