<template>
  <div>
    <div class="columns is-mobile is-centered">
      <div class="column is-half msg-wrapper">
        Page not found :(
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .msg-wrapper {
    text-align: center;
    font-size: 16pt;
    margin-top: 100px;
  }
</style>

<script>
export default {
  name: 'NotFound'
}
</script>
