<template>
  <div>
    <hr>
    <b-field label="Title">
      <b-input
        v-model="value.title"
        maxlength="100"
        required
        @input="updateBook"
      />
    </b-field>
    <b-field label="Author">
      <b-input
        v-model="value.author"
        maxlength="100"
        required
        @input="updateBook"
      />
    </b-field>
    <b-field label="ISBN">
      <b-input
        v-model="value.isbn"
        maxlength="17"
        required
        @input="updateBook"
      />
    </b-field>
    <b-field label="Description">
      <b-input
        v-model="value.description"
        maxlength="200"
        type="textarea"
        required
        @input="updateBook"
      />
    </b-field>
    <hr>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
export default {
  name: 'BookForm',

  props: {
    value: {
      type: Object,
      default () {
        return {
          title: '',
          author: '',
          isbn: '',
          description: ''
        }
      }
    }
  },

  methods: {
    updateBook () {
      this.$emit('input', this.value)
    }
  }
}
</script>
