<template>
  <div class="card">
    <div class="card-content">
      <div class="content">
        <h6 class="subtitle is-6">
          Recent events:
        </h6>
        <div
          v-for="(event, ind) in events"
          :key="ind"
          class="columns"
        >
          <div class="column">
            <p class="event">
              <b>{{ eventDateToString(event.date) }}</b>
            </p>
            <p class="event">
              {{ eventToString(event) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '../styles/colors';

  .subtitle {
    color: $darkgrey;
  }

  .event {
    color: $grey;
    font-size: 10pt;
  }
</style>

<script>
export default {
  name: 'BookEvents',

  props: {
    bookId: {
      type: String,
      default: null
    }
  },

  computed: {
    events () {
      return this.$store.getters['events/data']
    }
  },

  created () {
    this.$store.dispatch('events/load', this.bookId)
  },

  methods: {
    eventDateToString (dateStr) {
      return new Date(dateStr).toLocaleString()
    },

    eventToString (event) {
      let str = 'Check '
      str += event.action === 0 ? 'out' : 'in'
      str += ' by ' + event.person
      return str
    }
  }
}
</script>
