<template>
  <div>
    <nav
      class="navbar"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <h4
          class="subtitle is-4 has-text-primary btn"
          @click="goToDashboard"
        >
          Library
        </h4>
      </div>
    </nav>
  </div>
</template>

<style lang="scss" scoped>
  @import '../styles/colors';

  .navbar {
    height: 60px;
    box-shadow: 0px 1px 5px $grey;
  }

  .subtitle {
    padding: 15px 0 0 15px;
    margin: 0;
  }
</style>

<script>
export default {
  name: 'Header',

  methods: {
    goToDashboard () {
      if (this.$route.name !== 'dashboard') {
        this.$router.push({ name: 'dashboard' })
      }
    }
  }
}
</script>
