<template>
  <RouterView />
</template>

<script>
import NProgress from 'nprogress'
import 'nprogress/nprogress.css'

NProgress.configure({ showSpinner: false })

export default {
  name: 'App',

  data () {
    return {
      watchers: []
    }
  },

  mounted () {
    this.watchers.push(
      this.$watch(() => {
        return this.$store.getters['loading/requests']
      }, (totalRequests) => {
        if (totalRequests === 1) {
          NProgress.start()
        }

        if (totalRequests === 0) {
          NProgress.done()
        }
      }, {
        immediate: true
      })
    )
  },

  destroyed () {
    this.watchers.forEach((unwatch) => {
      unwatch()
    })
  }
}
</script>
